@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ion-color-pea: #9a68bb;
  --ion-color-pea-rgb: 154, 104, 187;
  --ion-color-pea-contrast: #000000;
  --ion-color-pea-contrast-rgb: 0, 0, 0;
  --ion-color-pea-shade: #885ca5;
  --ion-color-pea-tint: #a477c2;
}

.ion-color-pea {
  --ion-color-base: var(--ion-color-pea);
  --ion-color-base-rgb: var(--ion-color-pea-rgb);
  --ion-color-contrast: var(--ion-color-pea-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pea-contrast-rgb);
  --ion-color-shade: var(--ion-color-pea-shade);
  --ion-color-tint: var(--ion-color-pea-tint);
}

:root {
  --ion-color-primary: #72289a;
  --ion-color-primary-rgb: 114, 40, 154;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #642388;
  --ion-color-primary-tint: #803ea4;
}

.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}
